# Bytecode and virtualenvs
__pycache__/
*.pyc
*.pyo
.venv/
.vscode/
.vs/
.ruff_check/
.env

# Pycache in subdirectories
**/__pycache__/
**/*.pyc
**/*.pyo

# Git and CI
.git/
.gitea/
testing/
tests/

# Build and docs
Dockerfile
NathanWoodburn.bsdesign
LICENSE.txt
README.md


# Development caches
*.tmp
*.log


