.center{text-align:center}
#space-invaders {
  margin: 0 auto;
  display: block;
  background: white
}
t2 {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 22px;
  text-align: center;
  font-weight: 900;
  text-decoration: none;
  color: black;
  position: absolute;
  left: 38.5%;
  background-size: 120% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  background-color: #000000;
  animation: 0.2s shake infinite alternate;
}

@keyframes shake {
  0% { transform: skewX(-7deg); }
  5% { transform: skewX(7deg); }
  10% { transform: skewX(-7deg); }
  15% { transform: skewX(7deg); }
  20% { transform: skewX(-7deg); }
  25% { transform: skewX(7deg); }
  30% { transform: skewX(-7deg); }
  35% { transform: skewX(7deg); }
  40% { transform: skewX(-7deg); }
  45% { transform: skewX(7deg); }
  50% { transform: skewX(-7deg); }
  55% { transform: skewX(7deg); }
  60% { transform: skewX(-7deg); }
  65% { transform: skewX(7deg); }
  70% { transform: skewX(-7deg); }
  75% { transform: skewX(7deg); }
  80% { transform: skewX(-7deg); }
  85% { transform: skewX(7deg); }
  90% { transform: skewX(-7deg); }
  95% { transform: skewX(7deg); }
  100% { transform: skewX(-7deg); }
}