.social-icons {
  color: #313437;
  background-color: #fff;
  padding: 70px 0;
}

@media (max-width:767px) {
  .social-icons {
    padding: 50px 0;
  }
}

@media (max-width:500px) {
  img.profile {
    width: 200px;
    margin-left: -100px;
  }
}

@media (max-width:500px) {
  .profile-container {
    height: 200px;
    margin-top: 2em !important;
  }
}

.social-icons i {
  color: #757980;
  margin: 0 10px;
  width: 60px;
  height: 60px;
  border: 1px solid #c8ced7;
  text-align: center;
  border-radius: 50%;
  line-height: 60px;
  display: inline-block;
}

