<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Nathan Woodburn</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link rel="stylesheet" href="/assets/css/404.css">
</head>

<body style="background-color:white;">
  <p><br><br><br></p>
  <h1 style="text-align:center">Space Invaders destroyed this page!</h1>
  <t2 style="text-align:center">Take revenge on them!</t2>
  <p class="mobile"><br><br><br><br><br><br></p>
  <p class="center"><br><br><br>Use <span class="label label-danger">Space</span> to shoot and <span
      class="label label-danger">←</span>&#160;<span class="label label-danger">→</span> to
    move!&#160;&#160;&#160;<button class="btn btn-default btn-xs" id="restart">Restart</button> or <button
      class="btn btn-default btn-xs" onclick="location.href='javascript:history.back()'" type="button">
      Retreat</button></p>

  <canvas id="space-invaders">
    <script src="/assets/js/404.js"></script>
</body>
</html>