<!DOCTYPE html>
<html data-bs-theme="light" lang="en-au">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Nathan.Woodburn/</title>
    <meta name="theme-color" content="#000000">
    <link rel="canonical" href="https://nathan.woodburn.au/donate">
    <meta property="og:url" content="https://nathan.woodburn.au/donate">
    <meta name="twitter:description" content="G'day, this is my personal website. You can find out about me or check out some of my projects.">
    <meta property="og:title" content="Nathan.Woodburn/">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="https://nathan.woodburn.au/assets/img/profile.jpg">
    <meta property="og:type" content="website">
    <meta name="twitter:title" content="Nathan.Woodburn/">
    <meta property="og:description" content="G'day, this is my personal website. You can find out about me or check out some of my projects.">
    <meta name="description" content="G'day, this is my personal website. You can find out about me or check out some of my projects.">
    <meta property="og:image" content="https://nathan.woodburn.au/assets/img/profile.jpg">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/favicon/android-chrome-512x512.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="manifest" href="/manifest.json" crossorigin="use-credentials">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
    <link rel="stylesheet" href="/assets/css/profile.min.css">
<link rel="me" href="https://mastodon.woodburn.au/@nathanwoodburn" />
<script async src="https://umami.woodburn.au/script.js" data-website-id="6a55028e-aad3-481c-9a37-3e096ff75589"></script>
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">{{handshake_scripts | safe}}
    <nav class="navbar navbar-expand-md fixed-top navbar-light" id="mainNav" style="background: var(--bs-navbar-hover-color);">
        <div class="container-fluid"><a class="navbar-brand nathanwoodburn" href="/#">Nathan.Woodburn/</a><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item nav-link"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="/projects">Projects</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="/now">Now</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="text-center content-section" id="donate" style="background: #110033;padding-bottom: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Donate</h2>
                    <p style="margin-bottom: 10px;">Feel free to support me by donating</p>
                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item" style="margin-top: 15px;">&nbsp;<a class="btn btn-primary btn-lg btn-default" role="button" href="https://paypal.me/nathanwoodburn" target="_blank" style="width: auto;"><i class="fab fa-paypal fa-fw"></i><span class="network-name">&nbsp; Paypal</span></a></li>
                        <li class="list-inline-item" style="margin-top: 15px;">&nbsp;<a class="btn btn-primary btn-lg btn-default" role="button" href="https://github.com/sponsors/Nathanwoodburn" target="_blank" style="width: auto;"><i class="fab fa-github fa-fw"></i><span class="network-name">&nbsp; Github</span></a></li>
                        <li class="list-inline-item" style="margin-top: 15px;">&nbsp;<a class="btn btn-primary btn-lg btn-default" role="button" href="https://donate.stripe.com/8wM6pv0VD08Xe408ww" target="_blank" style="width: auto;"><i class="fab fa-stripe-s fa-fw"></i><span class="network-name">&nbsp;Stripe</span></a></li>
                        <li class="list-inline-item" style="margin-top: 15px;">&nbsp;<a class="btn btn-primary btn-lg btn-default" role="button" href="https://wise.com/pay/me/nathanjoelw6" target="_blank" style="width: auto;"><span class="network-name">&nbsp;Wise</span></a></li>
                        <li class="list-inline-item" style="margin-top: 15px;">&nbsp;<a class="btn btn-primary btn-lg btn-default" role="button" href="https://revolut.me/nwoodburn" target="_blank" style="width: auto;"><span class="network-name">&nbsp;Revolut</span></a></li>
                    </ul>
                    <h4>Crypto Options</h4><div class="dropdown">
    <button class="btn btn-primary btn-lg btn-default" aria-expanded="false" data-bs-toggle="dropdown" type="button" id="dropdownButton">Select Crypto</button>
    <div class="dropdown-menu dropdown-menu-dark">
        <input type="text" id="cryptoSearch" class="form-control" placeholder="Search for more cryptos..." autocomplete="off">
        <div id="cryptoList">
            {{coins|safe}}
        </div>
    </div>
</div>

<script>
    const dropdownButton = document.getElementById('dropdownButton');
    const cryptoSearch = document.getElementById('cryptoSearch');

    dropdownButton.addEventListener('click', function() {
        setTimeout(() => cryptoSearch.focus(), 0);
    });

    document.getElementById('cryptoSearch').addEventListener('input', function() {
        const searchValue = this.value.toLowerCase();
        const cryptoList = document.getElementById('cryptoList').getElementsByTagName('a');

        if (searchValue === '') {
            // Show default coins
            const defaultCoins = {{default_coins|tojson}};
            for (let i = 0; i < cryptoList.length; i++) {
                const cryptoName = cryptoList[i].getAttribute('href').split('=')[1];
                if (defaultCoins.includes(cryptoName)) {
                    cryptoList[i].style.display = '';
                } else {
                    cryptoList[i].style.display = 'none';
                }
            }
        } else {
            // Filter based on search input
            for (let i = 0; i < cryptoList.length; i++) {
                const cryptoName = cryptoList[i].textContent.toLowerCase();
                if (cryptoName.indexOf(searchValue) > -1) {
                    cryptoList[i].style.display = '';
                } else {
                    cryptoList[i].style.display = 'none';
                }
            }
        }
    });

    document.getElementById('cryptoSearch').addEventListener('keydown', function(event) {
        if (event.key === 'Enter') {
            event.preventDefault(); // Prevent form submission
            // Get the first visible crypto and redirect to it
            const cryptoList = document.getElementById('cryptoList').getElementsByTagName('a');
            for (let i = 0; i < cryptoList.length; i++) {
                if (cryptoList[i].style.display === '') {
                    window.location.href = cryptoList[i].getAttribute('href');
                    break;
                }
            }
        }
    });
</script>
                    <p>{{crypto|safe}}</p>
                </div>
            </div>
        </div>
    </section>
    <footer style="background: #110033;">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <p>Verify me with this <a href="pgp" target="_blank">long lifetime Public Key</a> or this <a href="gitpgp" target="_blank">short term one for Github commits</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="d-none d-print-inline-block d-sm-inline-block d-md-inline-block d-lg-inline-block d-xl-inline-block d-xxl-inline-block">This site is also available on<br><a href="https://learn.namebase.io/" target="_blank">Handshake</a>&nbsp;at <a href="https://nathan.woodburn">https://nathan.woodburn/</a></p>
                    <p class="copyright">Copyright ©&nbsp;Nathan.Woodburn/ 2024</p>
                </div>
            </div>
        </div>
    </footer><script>
    function copyToClipboard(element) {
            const textToCopy = element.textContent;
            const textArea = document.createElement('textarea');
            textArea.value = textToCopy;
            document.body.appendChild(textArea);
            textArea.select();
            document.execCommand('copy');
            document.body.removeChild(textArea);
            const tooltips = document.querySelectorAll('.tooltip-inner');
            tooltips.forEach(tooltip => {
                tooltip.innerText = 'Copied!';
            });
        }

    const btc = document.getElementById('btc');
    const eth = document.getElementById('eth');
    const hns = document.getElementById('hns');
    const sol = document.getElementById('sol');
    const hnsdomain = document.getElementById('hns-domain');
    const soldomain = document.getElementById('sol-domain');
    const ethdomain = document.getElementById('eth-domain');

    btc.addEventListener('click', () => {
        copyToClipboard(btc);
    });
    eth.addEventListener('click', () => {
        copyToClipboard(eth);
    });
    hns.addEventListener('click', () => {
        copyToClipboard(hns);
    });
    sol.addEventListener('click', () => {
        copyToClipboard(sol);
    });

    hnsdomain.addEventListener('click', () => {
        copyToClipboard(hnsdomain);
    });
    soldomain.addEventListener('click', () => {
        copyToClipboard(soldomain);
    });
    ethdomain.addEventListener('click', () => {
        copyToClipboard(ethdomain);
    });
</script>{{custom | safe}}
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/script.min.js"></script>
    <script src="/assets/js/hacker.min.js"></script>
</body>

</html>