<!DOCTYPE html>
<html data-bs-theme="light" lang="en-au">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Nathan.Woodburn/</title>
    <meta name="theme-color" content="#97009a">
    <link rel="canonical" href="https://nathan.woodburn.au/link">
    <meta property="og:url" content="https://nathan.woodburn.au/link">
    <meta http-equiv="onion-location" content="http://wdbrncwefot4hd7bdrz5rzb74mefay7zvrjn2vmkpdm44l7fwnih5ryd.onion">
    <meta name="twitter:description" content="G'day, this is my personal website. You can find out about me or check out some of my projects.">
    <meta name="description" content="G'day, this is my personal website. You can find out about me or check out some of my projects.">
    <meta property="og:title" content="Nathan.Woodburn/">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="https://nathan.woodburn.au/assets/img/profile.jpg">
    <meta property="og:image" content="https://nathan.woodburn.au/assets/img/profile.jpg">
    <meta property="og:type" content="website">
    <meta name="twitter:title" content="Nathan.Woodburn/">
    <meta property="og:description" content="G'day, this is my personal website. You can find out about me or check out some of my projects.">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/android-chrome-512x512.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="manifest" href="/manifest.json" crossorigin="use-credentials">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/line-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
    <link rel="stylesheet" href="/assets/css/animate.min.min.css">
    <link rel="stylesheet" href="/assets/css/GridSystem-1.min.css">
    <link rel="stylesheet" href="/assets/css/profile.min.css">
<link rel="me" href="https://mastodon.woodburn.au/@nathanwoodburn" />
<script async src="https://umami.woodburn.au/script.js" data-website-id="6a55028e-aad3-481c-9a37-3e096ff75589"></script>
</head>

<body style="background: url(&quot;/assets/img/links-bg.webp&quot;) center / cover no-repeat, #000000;">
    <nav class="navbar navbar-expand-md fixed-top navbar-light" id="mainNav" style="background: #000000b0;">
        <div class="container"><a class="navbar-brand nathanwoodburn" href="/#">Nathan.Woodburn/</a><button class="navbar-toggler navbar-toggler-right" data-bs-toggle="collapse" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button></div>
    </nav>
    <div style="margin-top: 10em;margin-bottom: 4em;">
        <div class="container">
            <div class="row justify-content-between align-items-center m-auto">
                <div class="col-md-3 col-lg-3 border rounded shadow" data-bss-hover-animate="pulse" style="background: rgba(0,0,0,0.69);">
                    <h3 class="text-info" style="color: #dadada;margin-top: 10px;">Uptime</h3>
                    <p style="color: #ffffff;font-family: Lato, sans-serif;">Check if any of my services are down.</p><a class="btn btn-outline-info border rounded shadow" role="button" style="background-color: rgba(156,39,176,0.63);font-family: Lato, sans-serif;margin-bottom: 10px;color: white;" href="https://uptime.woodburn.au" target="_blank">Visit&nbsp;<i class="la la-arrow-right"></i></a>
                </div>
                <div class="col-md-3 col-lg-3 border rounded shadow" data-bss-hover-animate="pulse" style="background: rgba(0,0,0,0.69);">
                    <h3 class="text-info" style="color: #dadada;margin-top: 10px;">About Me</h3>
                    <p style="color: #ffffff;font-family: Lato, sans-serif;">Visit my about web page.</p><a class="btn btn-outline-info border rounded shadow" role="button" style="background-color: rgba(156,39,176,0.63);font-family: Lato, sans-serif;margin-bottom: 10px;color: white;" href="https://nathan.woodburn.au/about" target="_blank">VISIT&nbsp;<i class="la la-arrow-right"></i></a>
                </div>
                <div class="col-md-3 col-lg-3 border rounded shadow" data-bss-hover-animate="pulse" style="background: rgba(0,0,0,0.69);">
                    <h3 class="text-info" style="color: #dadada;margin-top: 10px;">Github</h3>
                    <p style="color: #ffffff;font-family: Lato, sans-serif;">Check out what my latest projects are</p><a class="btn btn-outline-info border rounded shadow" role="button" style="background-color: rgba(156,39,176,0.63);font-family: Lato, sans-serif;margin-bottom: 10px;color: white;" target="_blank" href="https://github.com/nathanwoodburn">VISIT&nbsp;<i class="la la-arrow-right"></i></a>
                </div>
            </div>
            <div class="row justify-content-between align-items-center m-auto">
                <div class="col-md-3 col-lg-3 border rounded shadow" data-bss-hover-animate="pulse" style="background: rgba(0,0,0,0.69);">
                    <h3 class="text-info" style="color: #dadada;margin-top: 10px;">3D Printing</h3>
                    <p style="color: #ffffff;font-family: Lato, sans-serif;">Check out my 3D printing service.</p><a class="btn btn-outline-info border rounded shadow" role="button" style="background-color: rgba(156,39,176,0.63);font-family: Lato, sans-serif;margin-bottom: 10px;color: white;" href="https://nathan3dprinting.au/" target="_blank">VISIT&nbsp;<i class="la la-arrow-right"></i></a>
                </div>
                <div class="col-md-3 col-lg-3 border rounded shadow" data-bss-hover-animate="pulse" style="background: rgba(0,0,0,0.69);">
                    <h3 class="text-info" style="color: #dadada;margin-top: 10px;">Woodburn Registry</h3>
                    <p style="color: #ffffff;font-family: Lato, sans-serif;">Check out my self hosted domain registry.</p><a class="btn btn-outline-info border rounded shadow" role="button" style="background-color: rgba(156,39,176,0.63);font-family: Lato, sans-serif;margin-bottom: 10px;color: white;" target="_blank" href="https://reg.woodburn.au/">VISIT&nbsp;<i class="la la-arrow-right"></i></a>
                </div>
                <div class="col-md-3 col-lg-3 border rounded shadow" data-bss-hover-animate="pulse" style="background: rgba(0,0,0,0.69);">
                    <h3 class="text-info" style="color: #dadada;margin-top: 10px;">Church Podcast</h3>
                    <p style="color: #ffffff;font-family: Lato, sans-serif;">Check out the Alliance Church Podcast.</p><a class="btn btn-outline-info border rounded shadow" role="button" style="background-color: rgba(156,39,176,0.63);font-family: Lato, sans-serif;margin-bottom: 10px;color: white;" target="_blank" href="https://podcast.woodburn.au/">VISIT&nbsp;<i class="la la-arrow-right"></i></a>
                </div>
            </div>
            <div class="row justify-content-between align-items-center m-auto">
                <div class="col-md-3 col-lg-3 border rounded shadow" data-bss-hover-animate="pulse" style="background: rgba(0,0,0,0.69);">
                    <h3 class="text-info" style="color: #dadada;margin-top: 10px;">scribblE Game</h3>
                    <p style="color: #ffffff;font-family: Lato, sans-serif;">Self hosted online sketching game</p><a class="btn btn-outline-info border rounded shadow" role="button" style="background-color: rgba(156,39,176,0.63);font-family: Lato, sans-serif;margin-bottom: 10px;color: white;" href="https://scribble.woodburn.au/" target="_blank">VISIT&nbsp;<i class="la la-arrow-right"></i></a>
                </div>
                <div class="col-md-3 col-lg-3 border rounded shadow" data-bss-hover-animate="pulse" style="background: rgba(0,0,0,0.69);">
                    <h3 class="text-info" style="color: #dadada;margin-top: 10px;">HNSCall</h3>
                    <p style="color: #ffffff;font-family: Lato, sans-serif;">Self hosted video calling on a Handshake domain</p><a class="btn btn-outline-info border rounded shadow" role="button" style="background-color: rgba(156,39,176,0.63);font-family: Lato, sans-serif;margin-bottom: 10px;color: white;" href="https://hnscall" target="_blank">VISIT&nbsp;<i class="la la-arrow-right"></i></a>
                </div>
                <div class="col-md-3 col-lg-3 border rounded shadow" data-bss-hover-animate="pulse" style="background: rgba(0,0,0,0.69);">
                    <h3 class="text-info" style="color: #dadada;margin-top: 10px;">HNSHosting</h3>
                    <p style="color: #ffffff;font-family: Lato, sans-serif;">Website Hosting for Handshake domains</p><a class="btn btn-outline-info border rounded shadow" role="button" style="background-color: rgba(156,39,176,0.63);font-family: Lato, sans-serif;margin-bottom: 10px;color: white;" href="https://hnshosting" target="_blank">VISIT&nbsp;<i class="la la-arrow-right"></i></a>
                </div>
            </div>
            <div class="row justify-content-between align-items-center m-auto">
                <div class="col-md-3 col-lg-3 border rounded shadow" data-bss-hover-animate="pulse" style="background: rgba(0,0,0,0.69);">
                    <h3 class="text-info" style="color: #dadada;margin-top: 10px;">FireWallet</h3>
                    <p style="color: #ffffff;font-family: Lato, sans-serif;">Handshake Wallet built on C# .net</p><a class="btn btn-outline-info border rounded shadow" role="button" style="background-color: rgba(156,39,176,0.63);font-family: Lato, sans-serif;margin-bottom: 10px;color: white;" href="https://firewallet.au" target="_blank">VISIT&nbsp;<i class="la la-arrow-right"></i></a>
                </div>
                <div class="col-md-3 col-lg-3 border rounded shadow" data-bss-hover-animate="pulse" style="background: rgba(0,0,0,0.69);">
                    <h3 class="text-info" style="color: #dadada;margin-top: 10px;">More to Come</h3>
                    <p style="color: #ffffff;font-family: Lato, sans-serif;">Keep a look out for more stuff</p><a class="btn btn-outline-info disabled border rounded shadow" role="button" style="background-color: rgba(156,39,176,0.63);font-family: Lato, sans-serif;margin-bottom: 10px;color: white;" href="#">Try later</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/script.min.js"></script>
    <script src="/assets/js/hacker.min.js"></script>
</body>

</html>