<!DOCTYPE html>
<html data-bs-theme="light" lang="en-au">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Servers | Nathan.Woodburn/</title>
    <meta name="theme-color" content="#97009a">
    <link rel="canonical" href="https://nathan.woodburn.au/servers">
    <meta property="og:url" content="https://nathan.woodburn.au/servers">
    <meta http-equiv="onion-location" content="http://wdbrncwefot4hd7bdrz5rzb74mefay7zvrjn2vmkpdm44l7fwnih5ryd.onion">
    <meta name="twitter:description" content="G'day, this is my personal website. You can find out about me or check out some of my projects.">
    <meta property="og:title" content="Nathan.Woodburn/">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="https://nathan.woodburn.au/assets/img/profile.jpg">
    <meta property="og:image" content="https://nathan.woodburn.au/assets/img/profile.jpg">
    <meta property="og:type" content="website">
    <meta name="twitter:title" content="Nathan.Woodburn/">
    <meta property="og:description" content="G'day, this is my personal website. You can find out about me or check out some of my projects.">
    <meta name="description" content="Check my server status">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/android-chrome-512x512.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="manifest" href="/manifest.json" crossorigin="use-credentials">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
    <link rel="stylesheet" href="/assets/css/profile.min.css">
<link rel="me" href="https://mastodon.woodburn.au/@nathanwoodburn" />

<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.woodburn.au/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

<script async src="https://umami.woodburn.au/script.js" data-website-id="6a55028e-aad3-481c-9a37-3e096ff75589"></script>
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77"><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns?id=GTM-NNXTCKW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <nav class="navbar navbar-expand-md fixed-top navbar-light" id="mainNav">
        <div class="container"><a class="navbar-brand nathanwoodburn" href="/#">Nathan.Woodburn/</a><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item nav-link"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="projects">Projects</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background-image:url('/assets/img/intro-bg.webp');">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" style="margin-top: 100px;">
                        <h1>Server info</h1>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-3 row-cols-xxl-3">
                    <div class="col">
                        <div class="card" style="margin-top: 10px;margin-bottom: 10px;">
                            <div class="card-body text-primary text-bg-dark">
                                <h4 class="card-title">Docker01</h4>CPU<br>
<iframe
  src="https://docker01.woodburn.au/?graph=cpu&showPercentage=true&surface=212529"
  style="border-radius: 20px"
  allowtransparency="true"
  frameborder="0"
></iframe>
<br>MEM<br>
<iframe
  src="https://docker01.woodburn.au/?graph=ram&showPercentage=true&surface=212529"
  style="border-radius: 20px"
  allowtransparency="true"
  frameborder="0"
></iframe>
<br>Storage<br>
<iframe
  src="https://docker01.woodburn.au/?graph=storage&showPercentage=true&surface=212529"
  style="border-radius: 20px"
  allowtransparency="true"
  frameborder="0"
></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="margin-top: 10px;margin-bottom: 10px;">
                            <div class="card-body text-primary text-bg-dark">
                                <h4 class="card-title">Docker02</h4>CPU<br>
<iframe
  src="https://docker02.woodburn.au/?graph=cpu&showPercentage=true&surface=212529"
  style="border-radius: 20px"
  allowtransparency="true"
  frameborder="0"
></iframe>
<br>MEM<br>
<iframe
  src="https://docker02.woodburn.au/?graph=ram&showPercentage=true&surface=212529"
  style="border-radius: 20px"
  allowtransparency="true"
  frameborder="0"
></iframe>
<br>Storage<br>
<iframe
  src="https://docker02.woodburn.au/?graph=storage&showPercentage=true&surface=212529"
  style="border-radius: 20px"
  allowtransparency="true"
  frameborder="0"
></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="margin-top: 10px;margin-bottom: 10px;">
                            <div class="card-body text-primary text-bg-dark">
                                <h4 class="card-title">Docker03</h4>CPU<br>
<iframe
  src="https://docker03.woodburn.au/?graph=cpu&showPercentage=true&surface=212529"
  style="border-radius: 20px"
  allowtransparency="true"
  frameborder="0"
></iframe>
<br>MEM<br>
<iframe
  src="https://docker03.woodburn.au/?graph=ram&showPercentage=true&surface=212529"
  style="border-radius: 20px"
  allowtransparency="true"
  frameborder="0"
></iframe>
<br>Storage<br>
<iframe
  src="https://docker03.woodburn.au/?graph=storage&showPercentage=true&surface=212529"
  style="border-radius: 20px"
  allowtransparency="true"
  frameborder="0"
></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-3 row-cols-xxl-3">
                    <div class="col">
                        <div class="card" style="margin-top: 10px;margin-bottom: 10px;">
                            <div class="card-body text-primary text-bg-dark">
                                <h4 class="card-title">Oracle Main</h4>CPU<br>
<iframe
  src="https://dashdot.woodburn.au/?graph=cpu&showPercentage=true&surface=212529"
  style="border-radius: 20px"
  allowtransparency="true"
  frameborder="0"
></iframe>
<br>MEM<br>
<iframe
  src="https://dashdot.woodburn.au/?graph=ram&showPercentage=true&surface=212529"
  style="border-radius: 20px"
  allowtransparency="true"
  frameborder="0"
></iframe>
<br>Storage<br>
<iframe
  src="https://dashdot.woodburn.au/?graph=storage&showPercentage=true&surface=212529"
  style="border-radius: 20px"
  allowtransparency="true"
  frameborder="0"
></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="margin-top: 10px;margin-bottom: 10px;">
                            <div class="card-body text-primary text-bg-dark">
                                <h4 class="card-title">Podcast Server</h4>CPU<br>
<iframe
  src="https://smalldash.woodburn.au/?graph=cpu&showPercentage=true&surface=212529"
  style="border-radius: 20px"
  allowtransparency="true"
  frameborder="0"
></iframe>
<br>MEM<br>
<iframe
  src="https://smalldash.woodburn.au/?graph=ram&showPercentage=true&surface=212529"
  style="border-radius: 20px"
  allowtransparency="true"
  frameborder="0"
></iframe>
<br>Storage<br>
<iframe
  src="https://smalldash.woodburn.au/?graph=storage&showPercentage=true&surface=212529"
  style="border-radius: 20px"
  allowtransparency="true"
  frameborder="0"
></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="margin-top: 10px;margin-bottom: 10px;">
                            <div class="card-body text-primary text-bg-dark">
                                <h4 class="card-title">Potato1</h4>CPU<br>
<iframe
  src="https://potato1dash.woodburn.au/?graph=cpu&showPercentage=true&surface=212529"
  style="border-radius: 20px"
  allowtransparency="true"
  frameborder="0"
></iframe>
<br>MEM<br>
<iframe
  src="https://potato1dash.woodburn.au/?graph=ram&showPercentage=true&surface=212529"
  style="border-radius: 20px"
  allowtransparency="true"
  frameborder="0"
></iframe>
<br>Storage<br>
<iframe
  src="https://potato1dash.woodburn.au/?graph=storage&showPercentage=true&surface=212529"
  style="border-radius: 20px"
  allowtransparency="true"
  frameborder="0"
></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-3 row-cols-xxl-3">
                    <div class="col">
                        <div class="card" style="margin-top: 10px;margin-bottom: 10px;">
                            <div class="card-body text-primary text-bg-dark">
                                <h4 class="card-title">Potato2 (3D Printer)</h4>CPU<br>
<iframe
  src="https://potato2dash.woodburn.au/?graph=cpu&showPercentage=true&surface=212529"
  style="border-radius: 20px"
  allowtransparency="true"
  frameborder="0"
></iframe>
<br>MEM<br>
<iframe
  src="https://potato2dash.woodburn.au/?graph=ram&showPercentage=true&surface=212529"
  style="border-radius: 20px"
  allowtransparency="true"
  frameborder="0"
></iframe>
<br>Storage<br>
<iframe
  src="https://potato2dash.woodburn.au/?graph=storage&showPercentage=true&surface=212529"
  style="border-radius: 20px"
  allowtransparency="true"
  frameborder="0"
></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="margin-top: 10px;margin-bottom: 10px;">
                            <div class="card-body text-primary text-bg-dark">
                                <h4 class="card-title">HNSHosting WP</h4>CPU<br>
<iframe
  src="https://dashwp.woodburn.au/?graph=cpu&showPercentage=true&surface=212529"
  style="border-radius: 20px"
  allowtransparency="true"
  frameborder="0"
></iframe>
<br>MEM<br>
<iframe
  src="https://dashwp.woodburn.au/?graph=ram&showPercentage=true&surface=212529"
  style="border-radius: 20px"
  allowtransparency="true"
  frameborder="0"
></iframe>
<br>Storage<br>
<iframe
  src="https://dashwp.woodburn.au/?graph=storage&showPercentage=true&surface=212529"
  style="border-radius: 20px"
  allowtransparency="true"
  frameborder="0"
></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <footer>
        <div class="container text-center">
            <p class="copyright">Copyright ©&nbsp;Nathan.Woodburn/ 2024</p>
        </div>
    </footer>{{handshake_scripts | safe}}
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/script.min.js"></script>
    <script src="/assets/js/hacker.min.js"></script>
</body>

</html>