<!DOCTYPE html>
<html data-bs-theme="light" lang="en-au">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Nathan.Woodburn/</title>
    <meta name="theme-color" content="#000000">
    <link rel="canonical" href="https://nathan.woodburn.au/signalQR">
    <meta property="og:url" content="https://nathan.woodburn.au/signalQR">
    <meta name="fediverse:creator" content="@nathanwoodburn@mastodon.woodburn.au">
    <meta name="twitter:description" content="G'day, this is my personal website. You can find out about me or check out some of my projects.">
    <meta property="og:title" content="Nathan.Woodburn/">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="https://nathan.woodburn.au/assets/img/profile.jpg">
    <meta property="og:type" content="website">
    <meta name="twitter:title" content="Nathan.Woodburn/">
    <meta property="og:description" content="G'day, this is my personal website. You can find out about me or check out some of my projects.">
    <meta name="description" content="G'day, this is my personal website. You can find out about me or check out some of my projects.">
    <meta property="og:image" content="https://nathan.woodburn.au/assets/img/profile.jpg">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/favicon/android-chrome-512x512.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="manifest" href="/manifest.json" crossorigin="use-credentials">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
    <link rel="stylesheet" href="/assets/css/brand-reveal.min.css">
    <link rel="stylesheet" href="/assets/css/profile.min.css">
    <link rel="stylesheet" href="/assets/css/Social-Icons.min.css">
<link rel="me" href="https://mastodon.woodburn.au/@nathanwoodburn" />
<script async src="https://umami.woodburn.au/script.js" data-website-id="6a55028e-aad3-481c-9a37-3e096ff75589"></script>
</head>

<body>
    <div class="text-center" style="margin-top: 20px;"><img src="/assets/img/signalQR.jpg" width="470" height="547"><span class="fs-2" style="display: block;">Create a chat with my username or<br>scan this QR code on your phone<br>to chat with me on signal</span></div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/script.min.js"></script>
    <script src="/assets/js/grayscale.min.js"></script>
    <script src="/assets/js/hacker.min.js"></script>
</body>

</html>